<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yis.study">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".proxy.ProxyActivity" />
        <activity android:name=".annotation.AnnotationActivity" />
        <activity android:name=".http.HttpActivity" />
        <activity android:name=".http.retrofit.RetrofitActivity" />
        <activity android:name=".http.okhttp.OkhttpActivity" />
        <activity android:name=".handler.HandlerActivity" />
        <activity android:name=".handler.MyHandlerThread" />
        <activity android:name=".service.MyServiceActivity" />
        <activity android:name=".activity.MyActivity" />
        <activity android:name=".activity.TwoActivity" />
        <activity android:name=".view.MyViewTouchActivity" />


        <service android:name=".service.MyService" />
        <service android:name=".service.BindMyService" />
        <activity android:name=".view.chongtu.MyChongtuActivity" />
        <activity android:name=".xingneng.XingNengYouHuaActivity" />
        <activity android:name=".xingneng.oom.OomActivity" />
        <activity android:name=".xingneng.oom.MatUseActivity" />
        <activity android:name=".xingneng.oom.ANRActivity" />
        <activity android:name=".list.MyRecyclerViewActivity" />
        <activity android:name=".kaiyuan.KaiYuanStudyMainActivity" />
        <activity android:name=".kaiyuan.eventbus.EventBusStudyActivity" />
        <activity android:name=".kaiyuan.eventbus.EbTwoActivity" />


    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name ="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>